{% extends 'events/base.html' %}



{% block content %}

{% if user.is_authenticated %}
	
	<h1>Add Venue To Database</h1>
	<br/><br/>ID: {{ user.id }}
	{% if submitted %}
		Your Venue Was Submitted 
		Successfully!
	{% else %}
		<form action="" method=POST enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value=
			"Submit" class="btn btn-secondary">
		</form>
	{% endif %}
	
{% else %}
	<h1>Sorry, you must be logged in to view this page...</h1>
	<br/><br/>
	<a href="{% url 'login' %}">Login Here</a>
{% endif %}

{% endblock %}