{% extends 'events/base.html' %}



{% block content %}
	<title>event list</title>

<h1>Events</h1>
<br/>

<form class="btn-group">
  <button class="btn btn-secondary btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Sort By
  </button>
  <ul class="dropdown-menu">
    <li><a href="?order=name"class="dropdown-item">A-Z</a></li>
    <li><a href="?order=event_date" class="dropdown-item">DATE</a></li>
  </ul>
</form>
<br/><br/>



{% for event in event_list %}

<div class="card">
  <div class="card-header">
    <strong>{{ event }}</strong>&emsp;
      <a href="#" class="link-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-calendar-plus" viewBox="0 0 16 16">
          <path d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
        </svg>
      </a>
  </div>
  <div class="card-body">
    <h5 class="card-title">
    	<strong>Venue: </strong>{{ event.venue }}
    </h5>
    <p class="card-text">
			<strong>Date: </strong>{{ event.event_date }}<br/>
			<strong>Venue: </strong>{{ event.venue }}<br/>
			<strong>Venue Website: </strong>{{ event.venue.web }}<br/>
			<strong>Manager: </strong>{{ event.manager }}<br/>
			<strong>Description: </strong>{{ event.description }}<br/>
			<strong>Attendees: </strong>{% for user in event.attendees.all %}
			{{ user }} | {% endfor %}
    </p>
    
  </div>
{% if user.is_authenticated and user == event.manager %}
  <div class="card-footer">
    <a href="{% url 'update-event' event.id %}"
			class="btn btn-outline-secondary btn-sm" >Update Event</a>
  	<a href="{% url 'delete-event' event.id %}"
			class="btn btn-outline-danger btn-sm" >Delete Event</a>

  </div>
{% endif %}    

</div>
<br/>
{% endfor %}	


{% endblock %}